In [1]:
import pickle 
with open('/nfs/home/genovese/thesis-wildfire-genovese/data/data_loader_for_kriging/data_for_weather_kriging.pkl', 'rb') as f:
     loaded_dict = pickle.load(f)

In [3]:
loaded_dict[2000]['tmax']

       day  height  tmax                  geometry
0        3    1581   5.8  POINT (7.21083 45.44028)
1        3    2200   6.0  POINT (6.78306 44.92111)
2        3     813   8.3  POINT (6.96611 45.11694)
3        3    1130   8.7  POINT (7.24361 45.04194)
4        3    1240   8.4  POINT (7.65944 45.44222)
...    ...     ...   ...                       ...
62001    3     344   7.3  POINT (7.84778 45.51417)
62002    3     390   9.0  POINT (7.24389 45.11639)
62003    3    1273   8.1  POINT (7.80817 45.51707)
62005    3     232   7.0  POINT (7.68611 44.88611)
62006    3    2304   3.7  POINT (7.13917 45.46778)

[55104 rows x 4 columns]