In [34]:
import sys 
sys.path.append(rf"/nfs/home/genovese/thesis-wildfire-genovese/src")
from importlib import reload
import utils
reload(utils)
from utils import *
data_folder = "/nfs/home/genovese/thesis-wildfire-genovese/data/"
output_folder = "/nfs/home/genovese/thesis-wildfire-genovese/data/gathering/per_comune/"

In [ ]:
for f in os.listdir(data_folder+'clean_data/ministero_finanze'):
    extract_zipfile(data_folder+f'raw/ministero_finanze/{f}', data_folder+f'raw/socioeconomic/redditi/{f[-8:-4]}')

---

In [ ]:
redditi = dict()
for a in list(range(2000, 2019)) + [2022, 2023]:
    if (a > 2007) and (a < 2012):
        col = 'Codice Istat'
    else:
        col = 'Codice Istat Comune'
    redditi[a] = pd.read_csv(
        data_folder+f'raw/socioeconomic/redditi/{a}/Redditi_e_principali_variabili_IRPEF_su_base_comunale_CSV_{a}.csv', 
        encoding='latin-1', 
        sep=';'
        ).apply(lambda x: set_city_code(x, col), axis=1)

In [ ]:
for aa in [2019, 2020, 2021]: 
        a = pd.read_csv(
                        data_folder+f'raw/socioeconomic/redditi/{aa}/Redditi_e_principali_variabili_IRPEF_su_base_comunale_CSV_{aa}.csv', 
                encoding='latin-1', 
                sep=';',
                index_col=None).reset_index()
        df = pd.DataFrame()
        for n, c in enumerate(a.columns[1:-1]):
                df[c] = a.iloc[:, n]
        redditi[aa] = df.apply(lambda x: set_city_code(x, 'Codice Istat Comune'), axis=1)

In [ ]:
for a, df in redditi.items():
    save_clean_data(df, f'{a}', output_folder=data_folder+'clean_data/redditi/')

---

In [ ]:
redditi=dict()
for a in list(range(2000, 2024)):
    redditi[a] = pd.read_csv(f'/nfs/home/genovese/thesis-wildfire-genovese/data/clean_data/redditi/{a}.csv')

In [ ]:
from functools import reduce

data = [list(df.columns) for df in redditi.values()]

# Step 1: Find the intersection of all the lists
intersection = reduce(lambda a, b: set(a) & set(b), data)

# Step 2: Remove the intersection from each list
result = [[item for item in sublist if item not in intersection] for sublist in data]

for r in result:
    print(r)

In [ ]:
import re

for a, df in redditi.items():
    if df.columns[-1] == ' ':
        df.drop(columns=[' '], inplace=True)
    if "Codice Istat Regione" in df.columns:
        df.drop(columns=["Codice Istat Regione"], inplace=True)
    if "Codice Istat" in df.columns:
        df.rename(columns={'Codice Istat': 'Codice Istat Comune'}, inplace=True)

    df.columns = df.columns.str.replace("'", '', regex=True)
    df.columns = df.columns.str.replace("minore di zero euro", 'minore o uguale a zero euro', regex=True)
    cols = list(df.columns)
    renaming = dict.fromkeys(cols)
    for c in cols:
        if '-' in c:            
            split = c.split(' - ')
            split[0] = split[0].rstrip()
            split[1] = split[1].rstrip()
            pre = split[0]
            if'(' in pre:
                split[0] = re.sub(r"\([^)]*\)", "", pre).strip().rstrip()
            word = split[1]
            if 'Ammontare' in word:
                split[1] ='Ammontare in euro'
            
            new_col = split[0] + ' - ' + split[1]
            if 'contabilitÃ ' in new_col:
                new_col = new_col.replace('contabilitÃ ', 'contabilita')
            if 'IRPEF' in new_col:
                new_col = new_col.replace('IRPEF', '')
                split2 = new_col.split(' - ')
                split2[0] = split2[0].rstrip()
                split2[1] = split2[1].rstrip()
                new_col = split2[0] + ' - ' + split2[1]
            if ('dipendente' in new_col) and ('assimilati' not in new_col):
                split3 = new_col.split(' - ')
                split3[0] = split3[0].rstrip() + ' e assimilati'
                split3[0] = split3[0].rstrip()
                split3[1] = split3[1].rstrip()
                new_col = split3[0] + ' - ' + split3[1]
        else:
            new_col = c
        cols[cols.index(c)] = new_col

    df.columns = cols

In [ ]:
redditi[2012].rename(columns={'Reddito spettanza imprenditore ordinaria - Frequenza': 'Reddito di spettanza dellimprenditore in contabilita ordinaria - Frequenza',
                              'Reddito spettanza imprenditore semplificata - Frequenza': 'Reddito di spettanza dellimprenditore in contabilita semplificata - Frequenza',
                              'Reddito spettanza imprenditore ordinaria - Ammontare in euro': 'Reddito di spettanza dellimprenditore in contabilita semplificata - Ammontare in euro',
                              'Reddito spettanza imprenditore semplificata - Ammontare in euro': 'Reddito di spettanza dellimprenditore in contabilita ordinaria - Ammontare in euro'}, inplace=True)

In [ ]:
for a, df in redditi.items():
    df.columns = df.columns.str.replace('\xa0', ' ')

In [ ]:
data = [list(df.columns) for df in redditi.values()]

# Step 1: Find the intersection of all the lists
intersection = reduce(lambda a, b: set(a) & set(b), data)

# Step 2: Remove the intersection from each list
result = enumerate([[item for item in sublist if item not in intersection] for sublist in data])

for n, r in result:
    print(n+2000, r)

In [ ]:
for a, df in redditi.items():
    save_clean_data(df.drop(columns=df.columns[0]), f'{a}', output_folder=data_folder+'clean_data/redditi/')

---

In [ ]:
proporzioni_pensione = pd.DataFrame(
        {
        'Codice Istat Comune': redditi[2002]['Codice Istat Comune'], 
        'P - Ammontare in euro': redditi[2002]['Reddito da pensione - Ammontare in euro']/redditi[2002]['Reddito da lavoro dipendente e assimilati - Ammontare in euro'],
        'P - Frequenza': redditi[2002]['Reddito da pensione - Frequenza']/redditi[2002]['Reddito da lavoro dipendente e assimilati - Frequenza']
    })
proporzioni_pensione

In [3]:
redditi=dict()
for a in list(range(2000, 2024)):
    redditi[a] = pd.read_csv(f'/nfs/home/genovese/thesis-wildfire-genovese/data/clean_data/redditi/{a}.csv')

In [4]:
from functools import reduce

data = [list(df.columns) for df in redditi.values()]

# Step 1: Find the intersection of all the lists
intersection = reduce(lambda a, b: set(a) & set(b), data)

# Step 2: Remove the intersection from each list
result = [[item for item in sublist if item not in intersection] for sublist in data]

for r in result:
    print(r)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

In [7]:
confini = gpd.read_file('/nfs/home/genovese/thesis-wildfire-genovese/data/clean_data/confini_piemonte/confini_piemonte.shp')

In [21]:
a = redditi[2000].merge(confini[['Codice Com', 'geometry']].rename(columns={'Codice Com': 'Codice Istat Comune'}), on='Codice Istat Comune', how='inner'
                   ).drop(columns = redditi[2000].columns[:7])
gpd.GeoDataFrame(a, columns = a.columns)

,Numero contribuenti,Reddito da fabbricati - Frequenza,Reddito da fabbricati - Ammontare in euro,Reddito da lavoro dipendente e assimilati - Frequenza,Reddito da lavoro dipendente e assimilati - Ammontare in euro,Reddito da pensione - Frequenza,Reddito da pensione - Ammontare in euro,Reddito di spettanza dellimprenditore in contabilita ordinaria - Frequenza,Reddito di spettanza dellimprenditore in contabilita ordinaria - Ammontare in euro,Reddito di spettanza dellimprenditore in contabilita semplificata - Frequenza,...,Reddito complessivo da 55000 a 75000 euro - Ammontare in euro,Reddito complessivo da 75000 a 120000 euro - Frequenza,Reddito complessivo da 75000 a 120000 euro - Ammontare in euro,Reddito complessivo oltre 120000 euro - Frequenza,Reddito complessivo oltre 120000 euro - Ammontare in euro,Reddito da lavoro autonomo - Ammontare in euro,Reddito da lavoro autonomo - Frequenza,Bonus spettante - Frequenza,Bonus spettante - Ammontare in euro,geometry
0,171,82,92994,NaN,NaN,NaN,NaN,NaN,NaN,15.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0,0,"POLYGON ((6.92215 44.55494, 6.92492 44.55153, ..."
1,15167,8093,11430257,99.153668,1.633070e+06,82.846332,2.059843e+06,124.0,3264578.0,909.0,...,10709686.0,111.0,10331233.0,41.0,7736833.0,14659280.0,587.0,0,0,"POLYGON ((8.43848 44.71089, 8.43929 44.70894, ..."
2,1313,538,448858,8.766417,6.519672e+04,6.233583,8.943328e+04,9.0,140265.0,76.0,...,563311.0,4.0,407826.0,NaN,NaN,693737.0,47.0,0,0,"POLYGON ((8.23968 44.81115, 8.24013 44.81052, ..."
3,1959,1064,1279533,11.885679,1.735056e+05,10.114321,2.625694e+05,9.0,335761.0,99.0,...,1270067.0,21.0,1862389.0,5.0,1095598.0,2224150.0,73.0,0,0,"POLYGON ((7.78266 45.38717, 7.79106 45.3863, 7..."
4,897,465,513049,2.605757,3.414788e+04,3.394243,9.151412e+04,NaN,NaN,50.0,...,1003606.0,10.0,913934.0,9.0,2206671.0,NaN,NaN,0,0,"POLYGON ((8.57953 45.68766, 8.58085 45.6875, 8..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,311,197,90787,NaN,NaN,NaN,NaN,NaN,NaN,19.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0,0,"POLYGON ((8.03876 45.45996, 8.0386 45.45915, 8..."
1198,961,567,321025,5.900889,7.983848e+04,6.099111,1.137225e+05,NaN,NaN,75.0,...,325308.0,NaN,NaN,4.0,557669.0,NaN,NaN,0,0,"POLYGON ((8.00922 45.50614, 8.02159 45.50548, ..."
1199,810,492,351775,4.649123,7.270355e+04,5.350877,1.270054e+05,5.0,65469.0,60.0,...,776405.0,7.0,612873.0,NaN,NaN,NaN,NaN,0,0,"POLYGON ((8.09499 45.60069, 8.09738 45.59674, ..."
1200,1332,657,694459,6.115843,1.142472e+05,3.884157,1.255388e+05,9.0,186085.0,79.0,...,525139.0,5.0,409104.0,6.0,1364566.0,1279695.0,40.0,0,0,"POLYGON ((8.09156 45.0878, 8.09749 45.08796, 8..."
1201,1431,715,550148,6.325851,1.504773e+05,6.674149,2.166927e+05,NaN,NaN,66.0,...,1629984.0,10.0,918582.0,4.0,746366.0,NaN,NaN,0,0,"MULTIPOLYGON (((8.11043 45.68058, 8.11162 45.6..."

In [ ]:
for n, df in redditi.items():
    gdf = df.merge(confini[['Codice Com', 'geometry']].rename(columns={'Codice Com': 'Codice Istat Comune'}), on='Codice Istat Comune', how='inner'
                   ).drop(columns = df.columns[:7])
    save_clean_data(gdf, str(n), '/nfs/home/genovese/thesis-wildfire-genovese/data/gathering/per_comune/reddits')

---